name: Publish Release Binaries

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      
      - name: Build Binary with Makefile
        run: make release

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/release/gomocku-darwin-amd64
            build/release/gomocku-darwin-arm64
            build/release/gomocku-linux-amd64
            build/release/gomocku-linux-arm64
            build/release/gomocku-windows-amd64.exe
            build/release/gomocku-windows-arm64.exe
            build/release/gomocku-1.0.0.zip
            build/release/gomocku-1.0.0.zip
            build/release/sha256sum.txt
          token: ${{ secrets.RELEASE_BINARIES_UPLOAD_TOKEN }}
